<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container bg-body-tertiary main-content" style="margin-bottom: 2rem; padding-bottom: 10rem;">
    <h1 class="text-center">CONTACT US</h1>
    <% if (messages != '') { %>
        <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-info text-center" width="50%">
                <%= messages %>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <% } %>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <form class="needs-validation" id="contactForm" action="/mailer" method="post" novalidate>

                <div class="form-floating mb-4">
                    <input class="form-control" type="text" name="contact[name]" id="name" required>
                    <label for="name">Full Name</label>
                    <div class="invalid-feedback">Please enter a name</div>
                </div>

                <div class="form-floating mb-4">
                    <input class="form-control" type="email" name="contact[email]" id="email" required>
                    <label class="form-label" for="email">Email</label>
                    <div class="invalid-feedback">Please enter an email</div>
                </div>

                <div class="form-floating mb-4">
                    <input class="form-control" type="tel" name="contact[phone]" id="phone" required>
                    <label class="form-label" for="phone">Phone</label>
                    <div class="invalid-feedback">Please enter a phone number</div>
                </div>

                <div class="form-floating mb-4">
                    <textarea class="form-control" name="contact[message]" id="message" style="height: 100px" required> </textarea>
                    <label class="form-label" for="message">Message</label>
                    <div class="invalid-feedback">Please enter a message</div>
                </div>
                <div class="g-recaptcha" data-callback="captchaFilled" data-sitekey="6LfFbrcqAAAAAM92XrlvGQ1yadGGT-Z0qXWnFyHu"></div>
                <button class="btn burnt-orange" type="submit" id="submit" data-bs-toggle="modal" data-bs-target="#formsubmit" disabled>SUBMIT</button>
            </form>

            <!-- Modal -->
            <!-- <div class="modal fade" id="formsubmit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Message sent successfully</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> -->
  
        </div>
        <div class="col-md-1"></div>
        <div class="col-md">
            <address>
                <strong>Address:</strong><br />
                <a style="color: #a86500" href="https://maps.app.goo.gl/iAcNSzy3MpVk6jjX8" target="_blank">
                4800 NW Camas Meadows Drive Suite 290<br />
                Camas, WA</a>
            </address>
            <strong>Phone: </strong><br />
            <a style="color: #a86500" href="tel:360-750-8911">360-750-8911</a>
            
        </div>
    </div>
</div>

</div>

<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()

function captchaFilled(){
    document.getElementById('submit').removeAttribute('disabled');
}

// function clearFormOnSubmit(form){
//     form.reset(); // clear all form fields

//     return false;
// }
</script>

<%- include('partials/footer') %>