<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container bg-body-tertiary main-content mb-4 pb-4 text-center">
    <h1>CONTACT US</h1>
</div>

<%- include('partials/footer') %>