<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container bg-body-tertiary main-content mb-4 pb-4">
    <h1 class="text-center">CONTACT US</h1>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <form class="needs-validation" action="/mailer" method="post" novalidate>

                <div class="form-floating mb-4">
                    <input class="form-control" type="text" name="contact[name]" id="name" required>
                    <label for="name">Full Name</label>
                    <div class="invalid-feedback">Please enter a name</div>
                </div>

                <div class="form-floating mb-4">
                    <input class="form-control" type="email" name="contact[email]" id="email" required>
                    <label class="form-label" for="email">Email</label>
                    <div class="invalid-feedback">Please enter an email</div>
                </div>

                <div class="form-floating mb-4">
                    <input class="form-control" type="tel" name="contact[phone]" id="phone" required>
                    <label class="form-label" for="phone">Phone</label>
                    <div class="invalid-feedback">Please enter a phone number</div>
                </div>

                <div class="form-floating mb-4">
                    <textarea class="form-control" name="contact[message]" id="message" style="height: 100px" required> </textarea>
                    <label class="form-label" for="message">Message</label>
                    <div class="invalid-feedback">Please enter a message</div>
                </div>

                <button class="btn burnt-orange" type="submit">SUBMIT</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md">
            <address>
                <strong>Address:</strong><br />
                <a style="color: #a86500" href="https://maps.app.goo.gl/iAcNSzy3MpVk6jjX8">
                4800 NW Camas Meadows Drive Suite 290<br />
                Camas, WA</a>
            </address>
            <strong>Phone: </strong><br />
            <a style="color: #a86500" href="tel:360-750-8911">360-750-8911</a>
            
        </div>
    </div>
</div>

</div>

<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

<%- include('partials/footer') %>