<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <div class="container bg-body-tertiary main-content mb-4">
            <div class="container-fluid contemp pt-5 ps-5">
                <div class="col-md-8 mt-5 pt-5 ps-5 pb-3 pe-4 bg-body-tertiary">
                    <h1 class="pb-4">Capture the Vision</h1>
                    <h3 class="pb-4">Quality Northwest Home Plans</h3>
                    <p class="pb-4">We have been serving the Portland, Oregon and Vancouver, Washington area for over 20
                        years and we are experts in the construction methods and architectural styles used here in the
                        Northwest.</p>
                    <form action="/plans" method="get">
                        <button class="btn burnt-orange mb-4" type="submit" href="/plans">VIEW OUR CATALOG →</button>
                    </form>

                </div>
            </div>


            <div class="row pt-5 px-5">
                <div class="col-md-4 d-flex justify-content-center">
                    <h2>Home Owners' Services</h2>
                </div>
                <div class="col-md-4 justify-content-center overflow-y-auto">
                    <h2>Stock Home Plans</h2>
                    <p class="pt-3">We maintain the right to sell most of the custom homes we have designed over the
                        past 20 years.
                        Please visit our Plan Search to view the entire library. We have several hundred plans that are
                        in the process of being released to the website.
                        <br><br>
                        If you don’t find what you need, please call us at 360-750-8911 and we will search these plans
                        for you.
                    </p>

                </div>
                <div class="col-md-4 justify-content-center overflow-y-auto">
                    <h2>Full Custom Home Plans</h2>
                    <p class="pt-3">So, you can’t find that perfect plan? Let us custom design your home to fit your
                        wants, needs and dreams. We will lead you through live what-if analysis and provide you with
                        computerized 3D views to make it feel like you have actually been there before that first nail
                        is ever driven. We also offer the ability to study your 3D design via a mobile application at
                        your leisure.</p>
                </div>
            </div>
            <div class="row pt-5 px-5">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2>Home Remodel Plans</h2>
                    <p class="pt-3">A home addition can be a great option in today’s market. The first step is to work
                        with us on a preliminary addition plan. You may be amazed to see the full potential</p>
                </div>
                <div class="col-md-4">
                    <h2>Difficult Site Experts</h2>
                    <p class="pt-3">
                        Home Designs for steep or challenging lots is our area of expertise. We utilize cutting edge
                        computerized technology for the custom home architect. It allows us to help you visualize and
                        design the perfect home and see how it will look on your lot.
                    </p>
                </div>
            </div>


        </div>
        <%- include('partials/footer') %>